@using ElectronicECommerce.WEBUI.ViewModels;
@using ElectronicECommerce.BOL.Entities
@model ProductVM
@{
    string[] detailPath = new string[4];
    string[] sliderPath = new string[4];

    for (int i = 1; i <= Model.detailProduct.Pictures.Count; i++)
    {
        detailPath[i - 1] = Model.detailProduct.Pictures.FirstOrDefault(f => f.PIndex == i).PDetailPath;
        sliderPath[i - 1] = Model.detailProduct.Pictures.FirstOrDefault(f => f.PIndex == i).PLastSliderPath;
    }
}

<!--================Categories Banner Area =================-->
<section class="categories_banner_area">
    <div class="container">
        <div class="c_banner_inner">
            <h3>Ürün Detayı</h3>
            <ul>
                <li><a href="/">Anasayfa</a></li>
                <li><a href="@Url.Action("Categories","Product")">Tüm Ürünler</a></li>
                <li><a href="">@Model.detailProduct.Name</a></li>
            </ul>
        </div>
    </div>
</section>
<!--================End Categories Banner Area =================-->
<!--================Product Details Area =================-->
<section class="product_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="product_details_slider">
                    <div id="product_slider2" class="rev_slider" data-version="5.3.1.6">
                        <ul>
                            <!-- SLIDE  -->
                            <li data-index="rs-28" data-transition="scaledownfromleft" data-slotamount="default" data-easein="default"
                                data-easeout="default" data-masterspeed="1500"
                                data-thumb="@detailPath[0]"
                                data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500"
                                data-fsslotamount="7" data-saveperformance="off" data-title="Umbrella"
                                data-param1="September 7, 2015" data-param2="Alfon Much, The Precious Stones"
                                data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="@sliderPath[0]" alt="" width="1920" height="1080"
                                     data-lazyload="@sliderPath[0]"
                                     data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                            </li>
                            <!-- SLIDE  -->
                            <li data-index="rs-303" data-transition="scaledownfromleft" data-slotamount="default" data-easein="default"
                                data-easeout="default" data-masterspeed="1500"
                                data-thumb="@detailPath[1]"
                                data-rotate="0" data-saveperformance="off" data-title="The Dreaming Girl"
                                data-param1="September 6, 2015" data-param2="Lol"
                                data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="@sliderPath[0]" alt="" width="1920" height="1080"
                                     data-lazyload="@sliderPath[1]"
                                     data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                            </li>
                            <!-- SLIDE  -->
                            <li data-index="rs-301" data-transition="scaledownfromleft" data-slotamount="default" data-easein="default"
                                data-easeout="default" data-masterspeed="1500"
                                data-thumb="@detailPath[2]"
                                data-rotate="0" data-saveperformance="off" data-title="Ride my Bike"
                                data-param1="September 4, 2015" data-param2="Why not another Image?"
                                data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="@sliderPath[0]" alt="" width="1920" height="1080"
                                     data-lazyload="@sliderPath[2]"
                                     data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                            </li>
                            <!-- SLIDE  -->
                            <li data-index="rs-302" data-transition="scaledownfromleft" data-slotamount="default" data-easein="default"
                                data-easeout="default" data-masterspeed="1500"
                                data-thumb="@detailPath[3]"
                                data-rotate="0" data-saveperformance="off" data-title="Ride my Bike"
                                data-param1="September 4, 2015" data-param2="Why not another Image?"
                                data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="@sliderPath[0]" alt="" width="1920" height="1080"
                                     data-lazyload="@sliderPath[3]"
                                     data-bgposition="center center" data-bgfit="contain" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="product_details_text">
                    <h3>@Model.detailProduct.Name</h3>
                    <ul class="p_rating">
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                    <div class="add_review">
                        <a href="#">5 Yorumlar</a>
                        <a href="#">Yorum Ekle</a>
                    </div>
                    <h6>Stokta <span>Var</span></h6>
                    <h4>@Model.detailProduct.Price TL</h4>
                    <p>@Model.detailProduct.Detail</p>

                    <div class="quantity">
                        @*<div class="custom">
                            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 1 ) result.value--;return false;" class="reduced items-count" type="button"><i class="icon_minus-06"></i></button>
                            <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count" type="button"><i class="icon_plus"></i></button>
                        </div>*@
                        <a class="btn update_btn" onclick="functAddCart(@Model.detailProduct.ID,1)" style="cursor:pointer;">Sepete Ekle</a>
                    </div>
                    <div class="shareing_icon">
                        <h5>Paylaş :</h5>
                        <ul>
                            <li><a href="#"><i class="social_facebook"></i></a></li>
                            <li><a href="#"><i class="social_twitter"></i></a></li>
                            <li><a href="#"><i class="social_pinterest"></i></a></li>
                            <li><a href="#"><i class="social_instagram"></i></a></li>
                            <li><a href="#"><i class="social_youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Product Details Area =================-->
<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <nav class="tab_menu">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Ürün Açıklaması</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Yorumlar (1)</a>
                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Etiketler</a>
                <a class="nav-item nav-link" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-info" aria-selected="false">Ek Bilgiler</a>
                <a class="nav-item nav-link" id="nav-gur-tab" data-toggle="tab" href="#nav-gur" role="tab" aria-controls="nav-gur" aria-selected="false">Garantiler</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <p>@Model.detailProduct.Detail</p>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <h4>Rocky Ahmed</h4>
                <ul>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                </ul>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.  Emo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
            </div>
            <div class="tab-pane fade" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.  Emo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
            </div>
            <div class="tab-pane fade" id="nav-gur" role="tabpanel" aria-labelledby="nav-gur-tab">
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.  Emo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
            </div>
        </div>
    </div>
</section>
<!--================End Product Details Area =================-->
<!--================End Related Product Area =================-->
<section class="related_product_area">
    <div class="container">
        <div class="related_product_inner">
            <h2 class="single_c_title">İlgili Ürünler</h2>
            <div class="row">
                @foreach (Product item in Model.relatedProducts)
                {
                    <div class="col-lg-3 col-sm-6">
                        <div class="l_product_item">
                            <div class="l_p_img">
                                <img class="img-fluid" src="@item.Pictures.FirstOrDefault(f=>f.PIndex==1).PLastSliderPath" alt="@item.Name">
                            </div>
                            <div class="l_p_text">
                                <ul>
                                    <li class="p_icon"><a href="@Url.Action("Details","Product",new { ID = item.ID})"><i class="icon_piechart"></i></a></li>
                                    <li><a class="add_cart_btn" href="#">Sepete Ekle</a></li>
                                    <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li>
                                </ul>
                                <h4>@item.Name</h4>
                                <h5>@item.Price TL</h5>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <nav aria-label="Page navigation example" class="pagination_area">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                    <li class="page-item next"><a class="page-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>
<!--================End Related Product Area =================-->