@model ElectronicECommerce.BOL.Entities.Category

@{
    ViewBag.sayfaBaslik = "Kategori Yönetimi";
    ViewBag.tabloBaslik = "Kategori Detayı";
}


<div>
    <h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsNew)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsNew)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PIndex)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.ID }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Geri Dön", "Index", null, new { @class = "btn btn-dark" })
</p>
